<%= form_with(model: [@conversation, message], local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="control-label col-md-4">
      <%= form.label :content, 'Enter your message:' %>
    </div>
    <div class="col-md-8">
      <%= form.text_area :content, rows: 10, class: "form-control", placeholder: "Enter your message.", id: :message_content %>
    </div>
  </div>
  
  <div class="form-group">
    <%= form.submit 'Send', class: "btn btn-primary" %>
  </div>
<% end %>
