<p id="notice"><%= notice %></p>

<h1>Chat with <%= current_user == @conversation.user1 ? 
            @conversation.user2.name : @conversation.user1.name%></h1>
<hr />
<br>

  <% @messages.each do |message| %>
    <% if current_user.id == message.sender_id %>
      <div class="row">
        <div class="offset-md-4 col-md-8">
          <div class="card card-body bg-light">
            <p><%= message.content %></p>
            <span class="quiet"><small><%= message.created_at %></small></span>
          </div>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-md-8">
          <div class="card card-body">
            <p><%= message.content %></p>
            <span class="quiet"><small><%= message.created_at %></small></span> 
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

<hr />      
<br>

<%= render 'form', message: @new_message %>

<br>

<%= link_to 'Back to Conversations', conversations_path %>
