<p id="notice"><%= notice %></p>

<h1>Chats</h1>

<hr />

<div class="row">
  <div class="offset-md-2 col-md-8">
    <% @conversations.each do |conversation| %>
      <div class="card card-body bg-light">
        <h4><%= link_to current_user == conversation.user1 ? 
            conversation.user2.name : conversation.user1.name, 
            conversation_messages_path(conversation) %></h4>
        <p><%= truncate(Message.where(conversation_id: conversation.id).last.content, length: 30) %></p>
        <p>
          <span class="quiet"><small>Last message <%= time_ago_in_words(Message.where(conversation_id: conversation.id).last.created_at) %> ago.</small></span>
        </p>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Conversation', new_conversation_path, class: "btn btn-primary" %>
